  {
    "extends": "airbnb",
    "parserOptions": {
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true
      }
    },
      "rules": {
        "no-global-assign": 0,
        "no-unsafe-negation": 0,
        "import/prefer-default-export": 0,
        "react/prefer-stateless-function": 0,
        "react/jsx-filename-extension": 0,
        "no-unused-vars": 0,
        "arrow-body-style": 0,
      }
  }
