a{
    color: $secondary-light-color;
    text-decoration: none;
}

#people-data-table{
  background-color: black;
  width: 100%;
  color: $secondary-light-color;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  border: 1px solid black;
}

.person-data-header{
  position: relative;
  right: 1px;
  width: 33%;
  border: 3px solid black;
  padding: 20px;
  background-color: $primary-dark-color;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
}

.person-data{
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding: 15px;
  background-color: $secondary-dark-color;
}

.person-name{
    position: relative;
    top: 0px;
    right: 1px;
    height: 50px;
    width: 450px;
    border: 1px solid black;
    transition: .3s ease;
}

.person-name:hover {
    background-color: $primary-light-color;
    cursor: pointer;
}
