#starship-data-table{
  width: 100%;
}

.starship-data-header{
  width: 33%;
  border: 1px solid black;
  padding: 5px;
}

.starship-data{
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}
